@import '$lib/styles/tokens.css';
@import '$lib/styles/themes.css';
@import '$lib/styles/motion.css';
@import '$lib/styles/prose-variables.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-weight: inherit;
	font-family: var(--font-serif);
	text-wrap: balance;
}

body {
	background-color: var(--color-bg);
	overflow-x: hidden;
	color: var(--color-text);
	font-weight: var(--font-weight-light);
	line-height: var(--line-height-body);
	font-family: var(--font-sans);
}

.app {
	background-color: var(--color-bg);
	min-height: 100vh;
	color: var(--color-text);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

img {
	height: auto;
}

a {
	transition: color var(--duration-fast) var(--ease-standard);
	color: inherit;
	text-decoration: none;

	&:hover {
		filter: brightness(0.8);
	}
}
